/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
    color : white ;
    text-decoration: none ;
    font-weight: normal ;
    &:hover{
        text-decoration: underline ;
    }
}

@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);